description = "Default layout"
==
<!DOCTYPE html>
<html>
<head>
    <title>{{ this.page.title }}</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ ['assets/css/materialize.min.css']|theme }}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% styles %}
</head>
<body>
    {% page %}
    <script src="{{ [
        'assets/js/jquery-3.2.1.min.js',
        'assets/js/materialize.min.js',
        '@framework',
        '@framework.extras'
    ]|theme }}"></script>
    {% scripts %}
</body>
</html>